.home {
    position: relative;
    width: 96%;
    height: 850px;
    overflow: hidden;
    padding-top: 100px;
  }
  
  .slider {
   margin: 40px;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
    background-size: cover;
    background-position: center;
  }
  
  /* Optional: Add animation styles */
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-100%);
    }
    45% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    70% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .slider {
    animation: slide 20s infinite;
  }