.h-wrapper{
    height: 120px;
    background: powderblue;
}
.menu{
    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: space-between;
}
.menu>*:hover{
    cursor: pointer;
}
.menu img{
    width: 70px;
    height: 70px;
}
.book-button{
    border: none;
    border-radius: 15px;
    color: #424242;
    box-shadow: -6px -6px 10px #f9f9f9,
    -6px -6px 10px #00000026;
    padding: 10px;
    margin-right: 10px;
    background: powderblue;
}
.book-button:hover{
    box-shadow: 2px 2px 2px #f9f9f9;
}